html {
	padding: 0;
	margin: 0;
}


/* part01 */
.part01 {
	background-image: url(../img/images/sp/photo01.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#part01box {
	margin-top: 2.5%;
	/* padding-top: 3.5%; */
	width: 93%;
	height: 97.7%;
	border-top: 0.8rem solid black;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
}

.part01title {
	color: #F0F8FF;
	font-size: 1.6rem;
	text-align: center;
	/* padding-top: 0.5rem; */
}

.part01title span {
	color: #000000;
	font-size: 3rem;
}

.part01 #logo_w {
	height: 2.5rem;
	margin-left: 3rem;
	padding-bottom: 2rem;
}

.part01 #menu_bar {
	height: 100%;
	/* margin-right: 3rem; */
	/* margin-left: 8.5rem; */
}

#centerlogo {
	text-align: center;

}

#centerlogo {
	margin-top: 9rem;
}

#centerlogo img {
	height: 26rem;
}

#centerlogo p {
	color: #F0F8FF;
	font-size: 3em;
	font-weight: bolder;
	margin-top: 0;
}

#scroll {
	text-align: center;
	color: #F0F8FF;
	font-size: 3em;
	font-weight: bold;
	margin-top: 25rem;
	color: white;
	animation: changeshadow 1s ease-in infinite;
}

@keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px white
	}

	50% {
		text-shadow: 0 0 40px white
	}

	100% {
		text-shadow: 0 0 4px white
	}
}



/* part02 */
.part02 {
	background-image: url(../img/images/sp/photo06.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.part02box {

	width: 93%;
	height: 100%;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
}





/* part03 */
.part03 {
	height: auto;
	width: 100%;
}

.titlebox {
	display: flex;
	text-align: center;
	justify-content: center;
}

.title {

	/* display: flex; */
	/* position: absolute; */
	/* margin-left: 2.36%; */
	border-top: 0.8rem solid black;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: 26rem;
	width: 93%;
}

.jptitle {
	font-size: 2.2rem;
	font-weight: bold;
	margin-top: 12rem;
	margin-bottom: 0;
	/* text-align: center; */
}

.entitle {
	font-size: 5rem;
	font-weight: bold;
	margin-top: 0;
	/* text-align: center; */
}

.centerpic7 {
	/* position: absolute; */
	background-image: url(../img/images/photo07.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerpic8 {
	background-image: url(../img/images/photo08.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.doc03box {
	display: flex;
	justify-content: center;
	/* 内容水平居中 */

	/* 	align-items: center;
	/* 内容垂直居中 */
	*/
}

.part03doc {
	width: 77%;
	height: 23rem;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	text-align: left;
	padding: 9% 8% 0 8%;

}

.p3doc {
	font-size: 3rem;
	font-weight: bold;
}

.p3doc span {
	font-size: 2.5rem;
	font-weight: bold;
}

.part03doc p {
	font-size: 2.4rem;
}

.blank {
	height: 7rem;
	display: flex;
	justify-content: center;
}

.blankbox {
	width: 93%;
	height: 100%;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
}


/* part 04 */
.part04 {
	height: auto;
	width: 100%;
}

.blankb {
	height: 14rem;
	display: flex;
	justify-content: center;
}

.blankbbox {
	width: 93%;
	height: 100%;
	border-top: 0.8rem solid black;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
}

.centerpic9 {
	background-image: url(../img/images/photo09.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.part04title {
	display: flex;
	justify-content: center;
}

.title2 {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: 15rem;
	width: 77%;
	text-align: left;
	padding: 0 8% 0 8%;
}

.title2 .jptitle {
	margin-top: 4rem;
}

.title2 .entitle {
	margin-bottom: 1rem;
}

.hrr {
	width: auto;
	margin: 0 auto;
	text-align: center;
	height: 2px;
	background-color: #000000;
}

.doc04box {
	display: flex;
	justify-content: center;
}

.part04doc {
	width: 77%;
	height: auto;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	text-align: left;
	padding: 9% 8% 0 8%;

}

.part04doc p {
	font-size: 2rem;
	font-weight: 300;
}

.p4pic {
	display: flex;
	justify-content: center;
}

.p4docbox {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: auto;
	width: 77%;
	padding: 0 8% 0 8%;
}

.text04 {
	display: flex;
	justify-content: center;
}

.textstr {
	width: 77%;
	height: auto;
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	text-align: left;
	padding: 0 8% 0 8%;
}

.textstr p {
	font-size: 2rem;
	font-weight: 300;
}

.textstr span {
	font-size: 2.5rem;
	font-weight: bold;
}

/* part 05 */
#part05 {
	display: flex;
	justify-content: center;
}

#part05box {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: 100rem;
	width: 93%;
	background-image: url(../img/images/sp/photo10.jpg);
	/* padding: 0 8% 0 8%; */
	background-size: cover;
	background-position: center;
	height: 100rem;
	padding-top: 7rem;
}

.white {
	padding: 0 8% 0 8%;
	color: #F0F8FF;
}

.white p {
	font-size: 2.3rem;
	margin-bottom: 4.5rem;
}

.white span {
	font-size: 2.5rem;
	font-weight: bold;
}




/* part 06 */
#part06 {
	height: auto;
	width: 100%;
}

.centerpic11 {
	/* position: absolute; */
	background-image: url(../img/images/photo11.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}





/* part 07 */
.part07 {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.part07box {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	width: 93%;

}

#picbar {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	/* vertical-align: middle; */
}

#picbarbox {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	width: 77%;
	padding: 0 8% 0 8%;
}

#picbbar {
	justify-content: center;
	display: flex;
	margin-top: 4rem;
	margin-bottom: 10rem;

}

/* .floatpicbar #floatpic {
	display: inline-block;
	_display: inline;
	*display: inline;
	zoom: 1;
} */






/* part 08 */
.part08 {
	height: auto;
	width: 100%;
}

.pressbox {
	display: flex;
	justify-content: center;
}

.pressbbox {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: 10rem;
	width: 77%;
	padding: 0 8% 0 8%;
}

.maplinks {
	font-weight: bold;
	font-size: 2.5rem;
	/* display: inline-block; */
	/* text-decoration: none; */
	width: 92%;
	padding: 2rem;
	background-color: black;
	background-position: center;
	color: #000;
	text-align: center;
	/* border-radius: 1px; */
}

.maplinks a {
	color: white;
	text-decoration: none;
}


.btnblock {
	padding: 4.5rem 0;
	text-align: center;
	background-color: #000;
	width: 100%;
	/* 	max-width: 125rem; */
}


.btn {
	display: inline-block;
	text-decoration: none;
	font-size: 3rem;
	padding: .7em 3em;
	background-color: yellow;
	color: #000;
	border-radius: 2px;
	transition: .3s;
}

/* .btn:hover {
	background-color: #FFC0CB;
	color: blue;
} */

/* part 09 */
.tablebox {
	display: flex;
	justify-content: center;
}

.tablebbox {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	height: 45rem;
	width: 77%;
	padding: 0 8% 0 8%;
}

.text-form {
	width: 90%;
	height: 3rem;
	border: 1px solid #000;
	padding: 1em;
	font-size: 2.5rem;
}

.tablebbox p {
	text-align: center;
	font-size: 2.5rem;

	font-weight: bold;
}


/* part 10 */
#presstotop {
	margin-top: 10rem;
}

#presstotop a {
	height: 10rem;
	width: auto;
}

#presstotop img {
	height: 10rem;
}

#part10 {
	display: flex;
	text-align: center;
	justify-content: center;
}

#part10box {
	border-left: 0.8rem solid black;
	border-right: 0.8rem solid black;
	border-bottom: 0.8rem solid black;
	;
	height: 18rem;
	width: 93%;
}

#part10box p {
	font-size: 2rem;
	font-weight: bolder;

}

#part10box span {
	font-size: 1.8rem;

}
